.About-imge {
    /* width: 600px !important; */
    /* text-align: center; */
}

.About-imge img {
    /* width: 500px !important; */
}

.About-imge::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(/img/bg-about-img.png);
    z-index: 20;
    height: 100%;
    width: 100%;
}

@media (max-width: 1285px) {
    .About {
        width: 100% !important;
    }
}

@media (max-width: 1150px) {
    .About {
        flex-direction: column !important;
    }

    .About .left,
    .About .rigth {
        width: 80%;
    }
}

@media (max-width: 600px) {

    .About .left,
    .About .rigth {
        width: 100%;
    }
    
    .About .rigth h4 {
        font-size: 28px !important;
        line-height: 34px;
    }
    .About .rigth .question {
        flex-direction: column;
    }

    .About .rigth .brg p {
        margin-bottom: 0;
    }
}